.cajadelabel{
width: 100vw;
height: 100vh;
display:flex;
align-items:center;
justify-content:center;
background:url(../images/../../../assets/edu.jpg);
background-size:cover;
background-position:center;

}

form{
    color:#000;
    width:60vw;
    margin-right: 20px;
}

@media (max-width: 575px){
    form{
        width:80vw;
        margin-right: 5px;
    }
}