<div class="row">
    <div class="container">
            <div class="logocon">
                       
                <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_BLANK"><img src="../../../assets/logo.png" title="¿Que es Argentina Programa?" id="logoAP"></a>
            
            </div>
            <div class="frasecon">
                <h3 id="frase">#YoProgramo.</h3>
            </div>
            <div class="redes">
                    <a href="https://ar.linkedin.com/" target="_BLANK" class="iconlinkeding"><img src="../../../assets/linkedin.png" title="linkedin"id="linkedin"></a>
                    <a href="https://github.com/" target="_BLANK" class="icongithub"><img src="../../../assets/github.png" title="github"id="github"></a>
                    <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                    <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
            </div>

    </div>
</div>