.row{
    background:#252138;
    padding: 20px;
    border:3px solid #aaa;
}
h1,h3 {
    display:inline;
    color:#fff
}
p{
    color:#fff;
}

.nombre{
    color: #fff;
}

.descripcion{
    color: #fff;
}

