.row{
    background:#252138;
    padding:20px;
    border:3px solid #aaa;
}

h1 ,h2{
    color:#fff;
}
p{
    color:#fff;
}
.contenedor{
    width: auto;
}
.bloque1 , .bloque2{
   
}
.imagenpro{
    box-shadow:10px 10px 30px  #000000;
}

