<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 bloque1">
                <h1>Encriptador(falta logica y estilos)</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure pariatur in voluptas quod quos totam soluta culpa odio. Officia necessitatibus excepturi minima porro veritatis nobis omnis illum suscipit voluptas cupiditate.
                Velit eius ex aperiam aliquam eos cum dolore ratione fuga illum hic architecto dicta maiores, quod sunt quo omnis nulla ipsa excepturi iste perferendis! Obcaecati nostrum qui ducimus at doloribus!
                Ducimus hic sint optio dolor eos iusto porro vero veritatis, consectetur quibusdam, saepe voluptas, nulla dignissimos quod! Ex accusantium recusandae omnis magni tempora ipsa laboriosam officia atque quo! Optio, quibusdam.
                Repudiandae dolorum accusamus placeat quasi sapiente? Tempore corporis blanditiis, est dolor perspiciatis quos magni, error esse illo perferendis qui odit debitis nobis quo accusantium repellendus nesciunt dolore dolorem id asperiores.
                Mollitia in blanditiis officiis. Repellat perferendis maiores eos dicta blanditiis non odio minima amet officia sapiente alias expedita quae enim, vel facere! Cupiditate possimus incidunt nesciunt distinctio, accusamus ex. Accusantium!</p>
            </div>
            
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 bloque2">
                <img src="../../../assets/descarga.jfif" class="img-fluid img-proyecto" >
                <i class="bi bi-star"></i>
            </div>
        </div>
    </div>
</div>
