@import "~bootstrap-icons/font/bootstrap-icons.css";
.row{
    background:#372948;
    padding: 20px;
    border:3px solid #aaa;
}
h1{
    color:#fff;
}
.circulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}